body {
  background-color: map-get($colors, blue-light);
  font-family: $fonts;
}

a {
  color: map-get($colors, blue-dark);
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $screen-sm) {
    max-width: $screen-sm;
  }
  @media (min-width: $screen-md) {
    max-width: $screen-md;
  }
  @media (min-width: $screen-lg) {
    max-width: $screen-lg;
  }
  @media (min-width: $screen-xl) {
    max-width: $screen-xl;
  }
}

.font {
  @include font-modifiers;
}
