.container {
  @extend .container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
  line-height: 1.5;
}

.title {
  font-size: 4rem;
  font-weight: $font-semibold;
}

.subtitle {
  font-size: 2rem;
  font-weight: $font-regular;
}
