.section-message {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  @media (min-width: $screen-sm) {
    width: 50%;
    font-size: 1.25rem;
  }
}

.title {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: map-get($font-weights, medium);
}
