.article {
  background-color: $color-blue-dim;
  .wrapper {
    @media (min-width: $screen-sm) {
      width: 80%;
    }
    min-height: 300px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -2rem;
    .details {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 100%;
      @media (min-width: $screen-md) {
        flex-basis: auto;
      }
      .title {
        line-height: 1.5;
        font-weight: $font-semibold;
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
        @media (min-width: $screen-sm) {
          font-size: 1.875rem;
        }
      }
      .date {
        line-height: 1.25;
        padding-bottom: 1.5rem;
        font-size: 1rem;
        @media (min-width: $screen-sm) {
          font-size: 1.2rem;
        }
      }
      .description {
        line-height: 1.5;
        font-size: 1.1rem;
        @media (min-width: $screen-sm) {
          font-size: 1.35rem;
        }
      }
    }
    .graphic {
      max-width: 400px;
      margin-bottom: 2rem;
    }
  }
}

.alt-row {
  background-color: $color-blue-faint;
  .wrapper {
    flex-direction: row-reverse;
  }
}
