.section-heading {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  @media (min-width: $screen-sm) {
    width: 50%;
    font-size: 1.25rem;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: map-get($font-weights, medium);
}

.future-link {
  padding-bottom: 2rem;
  font-size: 1.25rem;
  text-align: center;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.tab-selector {
  display: flex;
  height: 56px;
  justify-content: center;
  background: linear-gradient(transparent 50%, map-get($colors, blue-dim) 50%);
  text-align: center;
}

.slider-bounds {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 1rem;
  background-color: #e0e0e0;
  border-radius: 15px;
  box-shadow: $shadow-md;
  cursor: grab;
  font-size: 1.25rem;
  
  @media (min-width: $screen-md) {
    width: 65%;
  }

  @media (min-width: $screen-xl) {
    width: 50%;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: map-get($colors, blue-light);
    border-radius: 15px;
  }
}

.classes-tab,
.events-tab {
  z-index: 1;
  width: 50%;
  pointer-events: none;
  text-shadow: $shadow-sm;
  transition: color 0.2s ease;
  user-select: none;
}

.classes-events {
  background-color: map-get($colors, 'blue-dim');
}

.section-divider {
  border: 0.2rem solid map-get($colors, 'blue-light');
  background-color: map-get($colors, 'blue-light');
}
