.tab-selector {
  display: flex;
  height: 56px;
  justify-content: center;
  background: linear-gradient(transparent 50%, map-get($colors, blue-dim) 50%);
  text-align: center;
}

.slider-bounds {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 1rem;
  background-color: #e0e0e0;
  border-radius: 15px;
  box-shadow: $shadow-md;
  font-size: 1.25rem;
  
  @media (min-width: $screen-md) {
    width: 65%;
  }

  @media (min-width: $screen-xl) {
    width: 50%;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: map-get($colors, blue-light);
    border-radius: 15px;
  }
}

.classes-tab,
.events-tab {
  z-index: 1;
  width: 50%;
  pointer-events: none;
  text-shadow: $shadow-sm;
  transition: color 0.2s ease;
  user-select: none;
}

.classes-tab {
  color: #fff;
}

.classes-events {
  background-color: map-get($colors, 'blue-dim');
}
