.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: map-get($colors, blue-dark);
  color: #fff;
  line-height: 1.5;
  text-align: center;

  a {
    color: #fff;
  }
}
