.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60vh;
  box-shadow: $shadow-md;
  overflow: hidden;
  color: #fff;
}

.header-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-out;
}

.title {
  font-size: 2rem;
  @media (min-width: $screen-sm) {
    font-size: 3rem;
  }
  @media (min-width: $screen-lg) {
    font-size: 4rem;
  }
  font-weight: map-get($font-weights, semibold);
  padding-bottom: 1rem; 
  text-shadow: $shadow-lg;
}

.subtitle {
  font-size: 1.25rem;
  @media (min-width: $screen-sm) {
    font-size: 1.75rem;
  }
  @media (min-width: $screen-lg) {
    font-size: 2.25rem;
  }
  font-weight: map-get($font-weights, regular);
  text-shadow: $shadow-lg;
}

.hero-image {
  height: 100%;
  pointer-events: none;
  transform: scale(1.03);
  filter: blur(2px);
  transition: filter 0.5s ease-in-out, transform 2s ease-in-out, transform-origin 0.3s linear;
}
