.hero {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 60vh;
  flex-direction: column;
  box-shadow: $shadow-lg;
}

.hero-background {
  height: 100%;
}

.scrim {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 8%);
  pointer-events: none;
}

.hero-content {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: #fff;
  pointer-events: none;
  text-align: center;

  .title {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: map-get($font-weights, semibold);
    text-shadow: $shadow-lg;
    @media (min-width: $screen-sm) {
      font-size: 3rem;
    }
    @media (min-width: $screen-lg) {
      font-size: 4rem;
    }
  }
  
  .subtitle {
    font-size: 1.25rem;
    font-weight: map-get($font-weights, regular);
    text-shadow: $shadow-lg;
    @media (min-width: $screen-sm) {
      font-size: 1.75rem;
    }
    @media (min-width: $screen-lg) {
      font-size: 2.25rem;
    }
  }
}
